services:
  app:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    environment:
      - UID=${UID}
      - GID=${GID}
    volumes:
      - ./:/var/www
    working_dir: /var/www
    depends_on:
      - mysql
      - redis
    networks:
      - laravel
    command: >
      sh -c "
        chown -R www-data:www-data /var/www/storage /var/www/bootstrap/cache &&
        php-fpm"

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - laravel
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - laravel

volumes:
  mysql-data:

networks:
  laravel:
